# Dependencies
node_modules/

# Build
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage/
test-results/
playwright-report/

# Environment
.env
.env.local
.env.*.local

# Misc
*.tsbuildinfo

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
